body{
    background-color: rgb(169, 201, 169);
    margin: 0;
    text-align: center;

}

#titulopagprov{
    background-color: #6a8267;
    color: #e7e0c4;
    text-align: center;
    margin: 0%;
    font-weight: lighter;
}

#svg{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    height:60%;
    width: 100%;
    
}

path{
    fill: #6a8267;
    stroke: #e7e0c4;
    stroke-width: 1;
    
    
}
#larioja:hover{
    fill: #c4bea4;
    stroke-width: 2;
    

}
#sanluis:hover{
    fill: #c4bea4;
    stroke-width: 2;
}
#rionegro:hover{
    fill: #c4bea4;
    stroke-width: 2;
}
#cordoba:hover{
    fill: #c4bea4;
    stroke-width: 2;
}
#buenosaires:hover{
    fill: #c4bea4;
    stroke-width: 2;
}
#caba:hover{
    fill: #c4bea4;
    stroke-width: 2;
}

footer{
    background-color: #6a8267;
    color: #e7e0c4;
    display: grid;
    

}

li{
    list-style: none;
    display: grid;
    justify-content: center;
}
