body {
    background-color: rgb(169, 201, 169);
    display: grid;
    color: #e7e0c4;
    text-align: center;
    font-style: initial;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;



}

#titulo-principal {
    bottom: 30px;
}



.quienessomos {
    background-color: #6a8267;
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    height: 70%;

}

.nuestrovivero {
    background-color: #6a8267;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    height: 70%;

}

.cotización {
    background-color: #6a8267;
    grid-row: 3;
    grid-column: 3/4;
    text-align: center;
    height: 70%;

}

#quehacemos2 {
    grid-row: 5;
    grid-column: 1/4;
    justify-self: stretch;
    color: black;
    font-style: oblique;
    font-weight: lighter;
    margin: 50px;

}

#contenedorproyectosterminados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px, auto);
    bottom: 10px;
    gap: 10px;
    bottom: 100px;
    padding-bottom: 30px;
    margin-bottom: 200px;
    object-fit: cover;
    justify-items: stretch;
    
}
#imagen1{
    display: grid;
    grid-column: 1/2;
    object-fit: contain;

}
#imagen2{
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
    
}
#imagen3{
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

#imagen4{
    display: grid;
    grid-column: 3;
    grid-row: 3;
}
.textoimagen{
    display: flex;
    text-align: initial;
}
.tituloproyectos {
    background-color: #6a8267;
    grid-column: 1/4;
    grid-row: 1;
    width: auto;
}


#animacion-imagen:hover {
    animation: agrandar 10s infinite;
}

@keyframes agrandar {

    50% {
        transform: scale(1);
    }

}



footer {
    background-color: #6a8267;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px, auto;
    top: 1000px;
    color: #e7e0c4;
    justify-items: start;
}

#titulofooter {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    
}

#instagram {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    width: 5px;
    margin-top: 10px;
}

#whatsapp {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    width: 5px;
    margin-top: 10px;
    
}

#mapagoogle {
    display: grid;
    grid-column: 3/4;
    grid-row: 3;
    justify-content: center;
    

}