body {
    background-color: rgb(169, 201, 169);
    display: grid;
    color: #e7e0c4;
    text-align: center;
    font-style: initial;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;



}

#titulo-principal {
    bottom: 30px;
}

#contenedormenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 30px;
}

#quienessomos {
    background-color: #6a8267;
    grid-row: 3;
    grid-column: 1;
    text-align: center ;
    height: 50px;
    color: #e7e0c4;
    text-decoration: none;
    font-size: x-large;

}

#nuestrovivero {
    background-color: #6a8267;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    height: 50px;
    color: #e7e0c4;
    text-decoration: none;
    font-size: x-large;

}

#cotizacion {
    background-color: #6a8267;
    grid-row: 3;
    grid-column: 3/4;
    text-align: center;
    height: 50px;
    color: #e7e0c4;
    text-decoration: none;
    font-size: x-large;

}

#quehacemos2 {
    grid-row: 5;
    grid-column: 1/4;
    justify-self: stretch;
    color: black;
    font-style: oblique;
    font-weight: bold;
    margin: 50px;
    

}

#contenedorproyectosterminados {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, auto);
    text-align: start;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 500px;
    align-items: stretch;
    justify-items: center;
    background-position: center;
    
}

#imagen1{
    display: grid;
    grid-column: 1/2;
}

#textoimg1{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    background-color: #6a8267;
}

#imagen2{
    display: grid;
    grid-column: 1;
    grid-row: 2;
   
    
}

#textoimg2{
    display: grid;
    text-align: center;
    grid-row: 1;
    background-color: #6a8267;
    
}

#imagen3{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    
    
}

#textoimg3{
    display: grid;
    grid-row: 1;
    background-color: #6a8267;
    text-align: center;
    justify-items: stretch;
}


.tituloproyectos {
    background-color: #6a8267;
    grid-column: 1/4;
    grid-row: 1;
    width: auto;
    height: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}

#tablahorarios{
    background-color: #6a8267;
    display: grid;
    justify-content: center;
    border: solid #e7e0c4;
    
}

footer {
    background-color: #6a8267;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px, auto;
    top: 1000px;
    color: #e7e0c4;
    justify-items: start;
}

#titulofooter {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    
}

#instagram {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    width: 5px;
    margin-top: 10px;
    color: #e7e0c4;
}

#whatsapp {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    width: 5px;
    margin-top: 10px;
    
}
.igwapp{
    color: #e7e0c4;
    text-decoration: none;
}

