body {
    background-color: rgb(169, 201, 169);
    color: #e7e0c4;
    display: grid;
    justify-content: center;
    gap: 10px;

}

#formulario-contacto {
    display: grid;
    justify-content: center;
    background-color: #6a8267;
    color: #e7e0c4;
    border: 1px solid #e7e0c4;
    width: 250px;
    height: 433px;

}

#paginacontacto {
    display: grid;
    text-align: center;
}

.info {
    display: grid;
    justify-content: left;
}

#texto {
    min-width: 200px;
    max-width: 200px;
    min-height: 300px;
    max-height: 300px;

}

#nombre {
    width: 200px;
}

#email {
    width: 200px;
}

#enviar-form {
    margin-left: 153px;
    margin-top: 5px;
}